:root{
    font-size: 10px;
}
@mixin flex_vertical_center($justifyContent){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: $justifyContent;
}
.body_navbar{
    margin:0px;
    padding: 0px;
    background-color: $dark-black;

}
.navbar{
    height: 5rem;
    box-sizing: border-box;
    @include flex_vertical_center(space-between);
    width: 100vw;
    
    &_logo{
        height: inherit;
    }
    
    &_book_search_sign{
        @include flex_vertical_center(center);
        .navbar_book{
            font-size: 1.4rem;
            width: 3.6rem;
            height: 3.6rem;
            align-items: center;
            color: white;
            @include flex_vertical_center(center);
        }
        .navbar_search{
            font-size:1.6rem;
            
        }
    }
}

@media only screen and (max-width: 600px) {
    :root{
        font-size: 10px;
    }
    .navbar{
        &_list{
            display: none;
        }
        &_book_search_sign{
            .navbar_book{
                button{
                    display: none;
                }
            }
            .navbar_signIn{
                display: none;
            }
        }
    }
}