@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;700&display=swap');

/*
mobile screen


tablet screen
@media only screen and (max-width:768px){
    h2{
            font-size: 31px;
        }
        a{
        font-size: 14px;
    }
    .test{
        flex-direction: column;
        gap: 80px;
    }
*/
@media only screen and (max-width: 1920px) {
.thebody{
    background-color: $darkest-black;
section{  
    text-align: center;
            
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 44px;
        color: $white;
        margin-bottom: 5%;
    }
        a{
            font-family: 'Hind', sans-serif;
            font-weight: 700;
            font-size: 16px;
            text-decoration: underline;
            color: $red;
                &:hover{
                    color: $white;
                }
        }
            .test{
                display: flex;
                flex-direction: row;
                gap: 80px;
                font-family:'Hind', sans-serif;
                font-size: 16px ;
                color: $font;
                font-weight: 300;
                margin: 0 25%;
                width: 900px;
            }
                figcaption{
                text-transform: uppercase;
                font-weight: 700;
    
            }
            button{
                text-align: center;
                color: $darkest-black;
            }
    }

@media only screen and (max-width: 412px) {
    h2{
        font-size: 19px;
    }
    a{
        font-size: 11px;
    }
    .test{
        flex-direction: column;
        gap: 10px;
        margin: 0;
        width : 0;
    }
}
}
}