@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;700&display=swap');


.header{
        background-image: url("/resources/images/gallery/slide-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 160px ;
        box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.4);
        
            & h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 50px;
                color: $white;
                text-align: center;
                    &::after{
                        color:$red;
                    }
            }
                .home{
                    font-family: 'Hind', sans-serif;
                    font-size: 16px;
                    text-align: center;
                    color: $white;
                }
            }
.rules{
    background-color: $darkest-black;
    padding: 160px;

    & div.line{
        border: 2px solid $font;
        width: 32px;
}
        h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 44px;
            color: $white;
            text-align: center;
            margin-bottom: 5%;
    }
    .container {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 50px;

        & article{
            text-align: center;
        }
            & i{
                font-size: 4rem;
                color: $white;
                border: 1px solid $white;
                padding: 5%;
                border-radius: 50%;

            }
            & h3{
                font-family: 'Montserrat', sans-serif;
                font-size: 32px;
                color: $white;
            }
            & p{
                font-family: 'Hind', sans-serif;
                font-size: 16px;
                color: $white;
            }

    }  
}
.video{
        background-image: url("/resources/images/gallery/video-placeholder.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.5);
        text-align: center;

        & i{
            font-size: 30px;
            color: $white;
            margin: 10% 50%;
            padding:1% 1%;
            border: 2px solid $red;
            background-color: $red;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            padding: 1.2%;

            &:hover{
                box-shadow: 0 0 0 5px rgba(255, 248, 248, 0.212);
                cursor: pointer;
            }
        }
}
.certificates{
    background-color: $darkest-black;
    padding: 160px;

    & div.line{
        border: 2px solid $font;
        width: 32px;
}
        h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 44px;
            color: $white;
            text-align: center;
            margin-bottom: 5%;
        }
            .certif{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 30px;
            }
                img:hover {
                    opacity: 0.6;
                    transition: opacity 0.9s;
                }
    }
.team{
    background-color: $dark-black;
    padding: 160px;

        & div.line{
            border: 2px solid $font;
            width: 32px;
        }
            
            & h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 44px;
                color: $white;
                text-align: center;
                margin-bottom: 5%;

            }
                & div{
                    display: flex;
                    flex-direction: row;
                    gap: 30px;
                    justify-content: center;
                    
                    & img {
                        opacity: 0.6;
                        height: auto;
                        max-width: 100%;
                        border: solid 8px $dark-black;

                        &:hover{
                            opacity:1;
                            border: solid 8px $red;
                        }
                    }
                
                        & h3{
                            font-family: 'Montserrat', sans-serif;
                            font-size: 32px;
                            color: $white;
                            text-align: left;
                        }
                            & p{
                                font-family: 'Hind', sans-serif;
                                font-size: 16px;
                                color: $font;
                                text-align: left;
                            }
            }
        }
.faq{
    background-color: $white;
    padding: 160px;

    div.line{
            border: 2px solid #9B9B9B;
            width: 32px;
    }
    
        & h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 44px;
            color: $dark-black;
            text-align: center;
        }
                & p.contact{
                    font-family: 'Hind', sans-serif;
                    font-size: 20px;
                    color: $font;
                    text-align: center;
                }
                    & h3{
                        font-family: 'Montserrat', sans-serif;
                        font-size: 32px;
                        color: $dark-black;
                        text-align: left;
                    }
                        & p{
                            font-family: 'Hind', sans-serif;
                            font-size: 16px;
                            color: $font;
                            text-align: left;
                        }
    }
         
    