@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;700&display=swap');

body{
    padding: 0;
    margin: 0;

.header{
        background-image: url("/resources/images/gallery/slide-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 160px ;
        box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.4);
        
            & h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 60px;
                color: $white;
                text-align: center;
                    &::after{
                        color:$red;
                    }
            }
            .point{
                text-decoration: none;
                color: $red;
                font-size: 65px;
                cursor: unset;
        }
                .home{
                    font-family: 'Hind', sans-serif;
                    font-size: 16px;
                    text-align: center;
                    color: $white;
                    opacity: 0.6;
                }
                a.esc{
                    color: $white;
                    text-decoration: none;
                    font-weight: 700;
                    &:hover{
                        color: $red;
                    }
                }
            }
.rules{
    background-color: $darkest-black;
    padding: 160px;

    & hr{
        border: 2px solid $font;
        width: 32px;
        
}
        h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 44px;
            color: $white;
            text-align: center;
            margin-bottom: 5%;
    }
    .bar{
        display: block;
        background-color: $font;
        transform: rotate(30deg);
        width: 1px;
        height: 100px;
        z-index: 0;
        position: relative;
    }
    .container {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 60px;

        & article{
            text-align: center;
        }

        & img{
            width: 100px;
            border: solid 1px $font;
            border-radius: 50%;
            padding: 1.5%;
        }
            & h3{
                font-family: 'Montserrat', sans-serif;
                font-size: 32px;
                color: $white;
            }
            & p{
                font-family: 'Hind', sans-serif;
                font-size: 19px;
                color: $font;
            }

    }  
}
.video{
        background-image: url("/resources/images/gallery/video-placeholder.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px;
        box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.5);
        text-align: center;
        & img{
            width: 50px;
            margin: 10% 50%;
            padding:1%;
            border: 2px solid $red;
            background-color: $red;
            border-radius: 50%;
            box-shadow: 0 0 0 5px rgba(255, 248, 248, 0.212);
            &:hover{
                transform: scale(1.2);
            }
        }
}

.certificates{
    background-color: $darkest-black;
    padding: 160px;

    & hr{
        border: 2px solid $font;
        width: 32px;
}
        h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 44px;
            color: $white;
            text-align: center;
            margin-bottom: 5%;
        }
            .certif{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 50px;
            }
                img:hover {
                    opacity: 0.6;
                    transition: opacity 0.9s;
                }
    }
.team{
    background-color: $dark-black;
    padding: 160px;

        & hr{
            border: 2px solid $font;
            width: 32px;
        }
            
            & h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 44px;
                color: $white;
                text-align: center;
                margin-bottom: 5%;

            }
                & div{
                    display: flex;
                    flex-direction: row;
                    gap: 50px;
                    justify-content: center;
                    
                    & img {
                        opacity: 0.6;
                        height: auto;
                        max-width: 100%;
                        border: solid 8px $dark-black;

                        &:hover{
                            opacity:1;
                            border: solid 8px $red;
                        }
                    }
                
                        & h3{
                            font-family: 'Montserrat', sans-serif;
                            font-size: 32px;
                            color: $white;
                            text-align: left;
                        }
                            & p{
                                font-family: 'Hind', sans-serif;
                                font-size: 16px;
                                color: $font;
                                text-align: left;
                            }
            }
        }
.faq{
    background-color: $white;
    padding: 160px;

    hr{
            border: 2px solid #9B9B9B;
            width: 32px;
    }
    
        & h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 44px;
            color: $dark-black;
            text-align: center;
            
        }
                & p.contact{
                    font-family: 'Hind', sans-serif;
                    font-size: 20px;
                    color: $font;
                    text-align: center;
                }
                    & h3{
                        font-family: 'Montserrat', sans-serif;
                        font-size: 32px;
                        color: $dark-black;
                        text-align: left;
                        &:hover{
                            color: $red;
                        }
                    }
                        & p{
                            font-family: 'Hind', sans-serif;
                            font-size: 16px;
                            color: $font;
                            text-align: left;
                        }
    }
         
}

/*MOBILE*/
@media(min-width: 412px) and (max-width: 768px) {
    .header{
        
        padding: 1px ;
        
            & h2{
                font-size: 20px;
                
            }
            .point{
                font-size: 25px;
        }
                .home{
                    font-size: 11px;

                }
            }
.rules{
    padding: 40px;      
}
    hr{
        border: 1px solid #9B9B9B;
        width: 12px;
    }
        h2{
            font-size: 21px;
    }
    .bar{
        width: 1px;
        height: 50px;
    }
    .container {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 60px;

        & img{
            width: 25px;
            padding: 1%;
        }
            & h3{
                font-size: 19px;

            }
            & p{
                font-size: 14px;
            }

    }  
.video{
        padding: 50px;
        & img{
            width: 25px;
            margin: 0;
            padding:0;
        }
}

.certificates{
    padding: 70px;

    hr{
        border: 1px solid #9B9B9B;
        width: 12px;
    }

        h2{
            font-size: 21px;
        }
            .certif{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 30px;
            }
    }
.team{
    background-color: $dark-black;
    padding: 70px;

    hr{
        border: 1px solid #9B9B9B;
        width: 12px;
    }
            
            & h2{
                font-size: 21px;

            }
                & div{
                    flex-direction: column;
                    gap: 30px;
                
                        & h3{
                            font-size: 19px;
                            text-align: center;
                        }
                            & p{
                                font-size: 14px;
                                text-align: center;
                            }
            }
        }
.faq{
    padding: 40px;

    hr{
        border: 1px solid #9B9B9B;
        width: 12px;
    }
    
        & h2{
            font-size: 21px;
        }
                & p.contact{
                    font-size: 12px;
                }
                    & h3{
                        font-size: 16px;
                    }
                        & p{
                            font-size: 14px;
                        }
    }
}