*{
    margin: 0;
    padding: 0;
    font-family: $montserrat;
}
h1{
    font-family: $montserrat;
    font-size: 120px;
    font-weight: 600;
    color: white;
}


h2{
    font-size: 4.4rem;
    color: white;
}
h3{
    font-size: 32px;
    color: white;
}
p{
    font-size: 16px;
}
.smallertext{
    font-size: 11px;
}
:root{
    font-size: 10px;
}
main{
    background-color: transparent;
    .homepage_banner{
        background:linear-gradient(to top,$darkest-black, rgba(0, 0, 0, 0.2)), #{url('/resources/images/gallery/slide-4.jpg')};
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 75vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            margin-left: 10%;
            span{
                display: block;
            }
        }
        div{
            margin-left: 10%;
            margin-top: 3vw;
            display: flex;
            align-items: center;
            .horizontalLine{
                height: 1px;
                background-color: white;
                width: 5vw;
                margin:0 2rem;
            }
            p{
                text-transform: uppercase;
                color: white;
                letter-spacing: 3px;
            }
            
        }
        
    }
}

.homepage_rooms{
    background-color: $darkest-black;
    padding: 9rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_container{
        display: flex;
        flex-direction: column;
        gap: 10vw;
        .homepage_rooms_container_magicImporium{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 90%;
                opacity: 0.5;
            }
            section{
                width: 90%;
                padding: 3rem;
                background-color: #242424;
                .homepage_rooms_difficulty{
                    font-size: 16px;
                    .red{
                        color:$red;
                    }
                    .grey{
                        color:$font ;
                    }
                }
                h3{
                    margin:30px 0 10px;
                }
                .homepage_rooms_details{
                    i{
                        color: $nav;
                    }
                    span{
                        color: $font;
                        text-transform: uppercase;
                        padding: 0 10px 0 7px;
                    }
                }
                p{
                    margin: 20px 0;
                    color: $font;
                    font-family: $hind;
                }
                button{
                    white-space: nowrap;
                    background-color: $red;
                    color:white;
                    font-weight: bold;
                    font-size: 1rem;
                    border-radius: 2rem;
                    padding: 1.1rem 2.5rem;
                    border: none;
                    &:hover{
                        background-color: transparent;
                        color: $red;
                        border: 2px solid $red;
                    }
                }
            }
        }
        .homepage_rooms_container_cure{
           @extend .homepage_rooms_container_magicImporium;
        }
        .homepage_rooms_container_burlesque{
            @extend .homepage_rooms_container_magicImporium;
        }
    }
}

@media only screen and (max-width: 768px){
    .bodyHomepage{
        width: 100vw;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 19px;
    }
    h3{
        font-size: 21px;
    }
    p{
        font-size: 14px;
    }
    .smallertext{
        font-size: 10px;
    }
    
    .homepage_banner{
        display: flex;
        align-items: center;
        
        h1{
            text-justify: center;
            text-align: center;
        }
        div{
            .horizontalLine{
                display: none;
            }
        }
    }
    .homepage_rooms{
        padding: 0;
        h2{
            padding: 4rem 0;
        }
        &_container{
            .homepage_rooms_container_magicImporium{
                img{
                    
                }
            }
        }
    }
}
@media only screen and (min-width:720px){
    h1{
        font-size: 60px;
        
    }
    .horizontalLine{
        display: inline;
    }
    
}
@media only screen and (min-width:769px){
    .homepage_rooms{
        padding: 0;
        h2{
            padding: 4rem 0;
        }
        &_container{
            .homepage_rooms_container_magicImporium{
                img{
                    max-width: 600px;
                }
                section{
                    max-width: 600px;
                }
            }
        }
    }
}
