*{
    margin: 0;
    padding: 0;
    font-family: $montserrat;
}
h1{
    font-family: $montserrat;
    font-size: 120px;
    font-weight: 600;
    color: white;
}


h2{
    font-size: 4.4rem;
    color: white;
}
h3{
    font-size: 32px;
    color: white;
}
p, .normalsizetext{
    font-size: 16px;
}
.smallertext{
    font-size: 12px;
}
:root{
    font-size: 10px;
}
//BANNER
main{
    background-color: transparent;
    .homepage_banner{
        background:linear-gradient(to top,$darkest-black, rgba(0, 0, 0, 0.2)), #{url('/resources/images/gallery/slide-4.jpg')};
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 75vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            margin-left: 10%;
            span{
                display: block;
            }
        }
        div{
            margin-left: 10%;
            margin-top: 3vw;
            display: flex;
            align-items: center;
            .horizontalLine{
                height: 1px;
                background-color: white;
                width: 5vw;
                margin:0 2rem;
            }
            p{
                text-transform: uppercase;
                color: white;
                letter-spacing: 3px;
            }
            
        }
        
    }
}
//ROOMS
.homepage_rooms{
    background-color: $darkest-black;
    padding: 9rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_container{
        display: flex;
        flex-direction: column;
        gap: 10vw;
        .homepage_rooms_container_magicImporium{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 90%;
                opacity: 0.5;
            }
            section{
                width: 90%;
                padding: 3rem;
                background-color: #242424;
                .homepage_rooms_difficulty{
                    font-size: 16px;
                    .red{
                        color:$red;
                    }
                    .grey{
                        color:$font ;
                    }
                }
                h3{
                    margin:30px 0 10px;
                }
                .homepage_rooms_details{
                    i{
                        color: $nav;
                    }
                    span{
                        color: $font;
                        text-transform: uppercase;
                        padding: 0 10px 0 7px;
                    }
                }
                p{
                    margin: 20px 0;
                    color: $font;
                    font-family: $hind;
                }
                button{
                    white-space: nowrap;
                    background-color: $red;
                    color:white;
                    font-weight: bold;
                    font-size: 1rem;
                    border-radius: 2rem;
                    padding: 1.1rem 2.5rem;
                    border: none;
                    margin: 0;
                    &:hover{
                        background-color: transparent;
                        color: $red;
                        border: 2px solid $red;
                    }
                }
            }
        }
        .homepage_rooms_container_cure{
           @extend .homepage_rooms_container_magicImporium;
        }
        .homepage_rooms_container_burlesque{
            @extend .homepage_rooms_container_magicImporium;
        }
    }
    button{
        @include transparentButton($nav);
        margin: 10vw 0;
    }
}

//BLOG
.homepage_blog{
    background-color: $darkest-black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    &_header{
        text-align: center;
        padding-bottom: 6rem;
        h2{
            padding:4rem 0;
        }
        &_link{
            color: $red;
            letter-spacing: 0.1em;
            text-decoration: none;
            border-bottom: 1px solid $red;
            &:hover{
                color: $red;
            }
        }

    }
    &_main{
        display: grid;
        box-sizing: border-box;
        grid-template-columns:1fr 1fr 1fr ;
        padding: 25px;
        gap: 20px;
        .homepage_blog_article{
            max-width: 380px;
            &_image{
                height:240px;
                background:linear-gradient(to top,$darkest-black, rgba(0, 0, 0, 0.2)), #{url('/resources/images/gallery/room-9.jpg')};
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                z-index:0;
                display: flex;
                align-items: flex-end;
                div{
                    display: flex;
                    height: fit-content;
                    align-items: center;
                   margin: 20px;
                    img{
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                    span{
                        color: white;
                        font-weight: 500;
                    }
                }
            }
            &_text{
                color: $font;
                padding-left: 18px;
                min-height: 240px;
                display: flex;
                flex-direction: column;
                span{
                    letter-spacing: 0.2em;
                    margin:24px 0;
                }
                div{
                    background-color: $font;
                    height: 4px;
                    width: 30px;
                    margin-bottom: 30px;
                }
                h3{
                    margin-bottom: 30px;

                }
                p{
                    font-family: $hind;
                    margin-bottom: 50px;
                }
            }
        }
        .exit{
            @extend .homepage_blog_article_image;
            background:linear-gradient(to top,$darkest-black, rgba(0, 0, 0, 0.2)), #{url('/resources/images/gallery/room-7.jpg')};
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .room{
            background:linear-gradient(to top,$darkest-black, rgba(0, 0, 0, 0.2)), #{url('/resources/images/gallery/post-img-2.jpg')};
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

//FOR WHOM
.homepage_forwho{
    background:linear-gradient(to right,$darkest-black, rgba(0, 0, 0, 0.5)), #{url('/resources/images/gallery/slide-3.jpg')};
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vw;
    display: flex;
    align-items: center;
    min-height: 240px;
    //ADD PADDING TO UL WHEN DESKTOP!!!!!!!!!!!!!!!!!
    &_list{
        list-style: none;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-left: 10%;

        li{
            i{
                color: $red;
                font-size: 25px;
                padding-right: 20px;
            }
            span{
                text-transform: uppercase;
                color: white;
                font-size: 14px;
                letter-spacing: 0.08em;
                font-weight: 600;
                
            }
            

        }
    }
}


//responsive
@media only screen and (max-width: 999px){
    .bodyHomepage{
        width: 100vw;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 19px;
    }
    h3{
        font-size: 21px;
    }
    p, .normalsizetext{
        font-size: 14px;
    }
    .smallertext{
        font-size: 10px;
    }
    
    .homepage_banner{
        display: flex;
        align-items: center;
        
        h1{
            text-justify: center;
            text-align: center;
        }
        div{
            .horizontalLine{
                display: none;
            }
        }
    }
    .homepage_rooms{
        padding: 0;
        h2{
            padding: 4rem 0;
        }
        
    }
    .homepage_blog{
        &_main{
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 30px;
        }
    }
}



@media only screen and (min-width:720px){
    h1{
        font-size: 60px;
        
    }
    .horizontalLine{
        display: inline;
    }
    .homepage_blog{
        &_main{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
        }
    }

    
}

@media only screen and (min-width:1000px){
    .homepage_rooms{
        padding: 0;
        h2{
            padding: 4rem 0;
        }
        &_container{
            .homepage_rooms_container_magicImporium{
                display: flex;
                flex-direction: row-reverse;
                height: 500px;
                img{
                    max-width: 600px;
                    max-height: 400px;
                }
                section{
                    height: 500px;
                    max-width: 400px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
            }
            .homepage_rooms_container_cure{
                flex-direction: row;
            }
        }
    }
    .homepage_blog{
        &_main{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        h3{
            font-size: 24px;
        }
    }
}
