.roomsGlobal {


.imageRooms {
    height: 65vh;
    width: 100vw;
    background-image: url(../../resources/images/gallery/slide-1.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    background-position-y: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;

    &__title {
        color: white;

        &__dot {
            color: red;
        }
    }

    &__secLine {
        &__home {
            color: white;
        }

        &__spaceLine {
            color: white;
        }

        &__rooms {
            color: white;
        }

        &__gridcols {
            color: gray;
        }
    }
}

.roomsMain {
    background-color: #1B1B1B;
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__filter {
        width: 35vw;
        display: flex;
        justify-content: space-around;
        &__btn {
            width: 100px;
            height: 40px;
            border: gray solid 2px;
            border-radius: 250px;
            background-color: #1B1B1B;
            color: white;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        column-gap: 5vh;
        width: 85vw;
        height: 100vh;
        &__item {
            display: flex;
            flex-direction: column;

            &__locker {
                display: flex;
            }

            &__icons {
                display: flex;
            }
        }

        .imporium {

        }

        .cure {

        }

        .burlesque {

        }

        .prison {

        }

        .hospital {

        }

        .factory {

        }

        .bunker {

        }

        .mystical {

        }

        .future {
            
        }
    }

    &__pageSelect {
        &__number {

        }
    }
}
}