.roomsGlobal {
    display: flex;
    flex-direction: column;
    align-items: center;
    

.imageRooms {
    height: 65vh;
    width: 100vw;
    background-image: url(../../resources/images/gallery/slide-1.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    background-position-y: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;

    &__title {
        color: white;
        font-size: 7rem;

        &__dot {
            color: red;
        }
    }

    &__secLine {
        font-size: 1.2rem;
        &__home {
            color: white;
        }

        &__spaceLine {
            color: white;
        }

        &__rooms {
            color: white;
        }

        &__gridcols {
            color: gray;
        }
    }
}

.roomsMain {
    background-color: #1B1B1B;
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    &__filter {
        width: 35vw;
        display: flex;
        justify-content: space-around;
        margin-top: 20vh;
        margin-bottom: 5vh;
        &__btn {
            width: 100px;
            height: 40px;
            border: gray solid 2px;
            border-radius: 250px;
            background-color: #1B1B1B;
            color: white;
            transition: 0.2s;
        }

        &__btn:hover {
            background-color: gray;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        column-gap: 5vh;
        row-gap: 5vh;
        width: 85vw;
        height: 100vh;
        &__item {
            display: flex;
            flex-direction: column;
            width: 19vw;
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            gap: 2.5vh;
            

            &__locker {
                padding-left: 1.5vw;
                display: flex;
                gap: 0.5rem;

                i {
                    color: white;
                    font-size: 1.5rem;
                }

                .red {
                    color: red;
                }
            }

            h3 {
                color: white;
                width: 20vw;
                font-size: 1.9rem;
                padding-left: 1.5vw;
            }

            &__icons {
                display: flex;
                padding-left: 1.5vw;
                padding-bottom: 1.5vw;
                align-items: center;
                gap: 0.5rem;
                color: white;

                i {
                    font-size: 1.4rem;
                }

                p {
                    font-size: 1.4rem;
                    color: gray;
                }
            }
        }

        .imporium {
            background-image: url(../../resources/images/gallery/slide-2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            background-position-x: -20vw;
            box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
        }

        .cure {
            background-image: url(../../resources/images/gallery/room-2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
        }

        .burlesque {
            background-image: url(../../resources/images/gallery/room-3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
        }

        .prison {
            background-image: url(../../resources/images/gallery/room-grid-4-img4.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
        }

        .hospital {
            background-image: url(../../resources/images/gallery/room-5.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
        }

        .factory {
            background-image: url(../../resources/images/gallery/gallery-1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
        }

        .bunker {
            background-image: url(../../resources/images/gallery/room-7.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
        }

        .mystical {
            background-image: url(../../resources/images/gallery/room-8.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
        }

        .future {
            background-image: url(../../resources/images/gallery/room-9.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
        }
    }

    &__pageSelect {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-self: end;
        
        &__number {
            color: white;
        }
    }
}
}

@media (max-width: 1060px) {
    .roomsGlobal {
        
        
    
    .imageRooms {
        height: 25vh;
    
        &__title {
            color: white;
            font-size: 5rem;
    
            &__dot {
                color: red;
            }
        }
    
        &__secLine {
            font-size: 1.2rem;
            &__home {
                color: white;
            }
    
            &__spaceLine {
                color: white;
            }
    
            &__rooms {
                color: white;
            }
    
            &__gridcols {
                color: gray;
            }
        }
    }
    
    .roomsMain {
        background-color: #1B1B1B;
        width: 100vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        &__filter {
            width: 35vw;
            display: flex;
            justify-content: space-around;
            margin-top: 5vh;
            margin-bottom: 5vh;
            gap: 2vw;
            &__btn {
                width: 100px;
                height: 40px;
                border: gray solid 2px;
                border-radius: 250px;
                background-color: #1B1B1B;
                color: white;
                transition: 0.2s;
            }
    
            &__btn:hover {
                background-color: gray;
            }
        }
    
        &__grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20vw, 4fr));
            column-gap: 1vh;
            row-gap: 1vh;
            width: 85vw;
            height: 100vh;
            &__item {
                display: flex;
                flex-direction: column;
                width: 19vw;
                height: 15vh;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                gap: 1.5vh;
                
    
                &__locker {
                    padding-left: 1.5vw;
                    display: flex;
                    gap: 0.5rem;
    
                    i {
                        color: white;
                        font-size: 1.5rem;
                    }
    
                    .red {
                        color: red;
                    }
                }
    
                h3 {
                    color: white;
                    width: 20vw;
                    font-size: 1.9rem;
                    padding-left: 1.5vw;
                }
    
                &__icons {
                    display: flex;
                    padding-left: 1.5vw;
                    padding-bottom: 1.5vw;
                    align-items: center;
                    gap: 0.5rem;
                    color: white;
    
                    i {
                        font-size: 1.4rem;
                    }
    
                    p {
                        font-size: 1.4rem;
                        color: gray;
                    }
                }
            }
    
            .imporium {
                background-image: url(../../resources/images/gallery/slide-2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: right;
                background-position-x: -20vw;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .cure {
                background-image: url(../../resources/images/gallery/room-2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .burlesque {
                background-image: url(../../resources/images/gallery/room-3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .prison {
                background-image: url(../../resources/images/gallery/room-grid-4-img4.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .hospital {
                background-image: url(../../resources/images/gallery/room-5.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .factory {
                background-image: url(../../resources/images/gallery/gallery-1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .bunker {
                background-image: url(../../resources/images/gallery/room-7.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .mystical {
                background-image: url(../../resources/images/gallery/room-8.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .future {
                background-image: url(../../resources/images/gallery/room-9.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
        }
    
        
    }
    }
}

@media (max-width: 650px) {
    .roomsGlobal {
        height: 300vh;
        
    
    .imageRooms {
        height: 25vh;
    
        &__title {
            color: white;
            font-size: 5rem;
    
            &__dot {
                color: red;
            }
        }
    
        &__secLine {
            font-size: 1.2rem;
            &__home {
                color: white;
            }
    
            &__spaceLine {
                color: white;
            }
    
            &__rooms {
                color: white;
            }
    
            &__gridcols {
                color: gray;
            }
        }
    }
    
    .roomsMain {
        background-color: #1B1B1B;
        width: 100vw;
        height: 200vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        &__filter {
            width: 70vw;
            display: flex;
            flex-direction: column;
            margin-top: 5vh;
            margin-bottom: 5vh;
            gap: 2vw;
            &__btn {
                width: 70vw;
                height: 40px;
                border: gray solid 2px;
                border-radius: 250px;
                background-color: #1B1B1B;
                color: white;
                transition: 0.2s;
            }
    
            &__btn:hover {
                background-color: gray;
            }
        }
    
        &__grid {
            display: flex;
            flex-direction: column;
            
            
            width: 90vw;
            height: 150vh;
            &__item {
                display: flex;
                flex-direction: column;
                width: 85vw;
                height: 70vh;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                gap: 1.5vh;
                
    
                &__locker {
                    padding-left: 1.5vw;
                    display: flex;
                    gap: 0.5rem;
    
                    i {
                        color: white;
                        font-size: 1.5rem;
                    }
    
                    .red {
                        color: red;
                    }
                }
    
                h3 {
                    color: white;
                    width: 20vw;
                    font-size: 1.9rem;
                    padding-left: 1.5vw;
                }
    
                &__icons {
                    display: flex;
                    padding-left: 1.5vw;
                    padding-bottom: 1.5vw;
                    align-items: center;
                    gap: 0.5rem;
                    color: white;
    
                    i {
                        font-size: 1.4rem;
                    }
    
                    p {
                        font-size: 1.4rem;
                        color: gray;
                    }
                }
            }
    
            .imporium {
                background-image: url(../../resources/images/gallery/slide-2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: right;
                background-position-x: -20vw;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .cure {
                background-image: url(../../resources/images/gallery/room-2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .burlesque {
                background-image: url(../../resources/images/gallery/room-3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .prison {
                background-image: url(../../resources/images/gallery/room-grid-4-img4.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .hospital {
                background-image: url(../../resources/images/gallery/room-5.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .factory {
                background-image: url(../../resources/images/gallery/gallery-1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .bunker {
                background-image: url(../../resources/images/gallery/room-7.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .mystical {
                background-image: url(../../resources/images/gallery/room-8.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
    
            .future {
                background-image: url(../../resources/images/gallery/room-9.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.7);
            }
        }
    
        
    }
    }
}