body{
    margin: 0;
    padding: 0;

    .single-blog{
        background-color: $darkest-black;
    }

    .header{
        background-image: url("/resources/images/gallery/slide-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px;
        box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.4);
        text-align: center;
        }
        h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 60px;
            color: $white;
        }
            .icons{
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    color: $white;
                    opacity: 0.8;
                    
                    font-size: 12px;
                    text-transform: uppercase;
                }
                    .txt{
                        color: $font;
                        opacity: 1;
                        font-family: 'Montserrat', sans-serif;

                    }

.content .side-bar{
display: flex;
flex-wrap: wrap;
}
    .bg-img{
        position: relative;
        z-index: 1;
        margin: 8% 15% 0 15%;
        width: 780px;
        height: 452px;
        transform: scale(1.1);
        transition: transform 0.4s;
    }

            .description{
                box-sizing: border-box;
                display: block;
                padding: 50px;
                width: 750px;
                position: relative;
                z-index: 1;
                background-color: $dark-black;
                margin: -3% 16% 3% 16%;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
            }
                p{
                    color: $font;
                    font-size: 16px;
                    font-family: 'Hind', sans-serif;
                    text-align: justify;
                    margin-bottom: 50px;
                }
                    h3{
                        color: $white;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 32px;
                    }
                        .fig-img{
                            width:100%;
                        }
                            figcaption{
                                text-align: center;
                                color: $font;
                                font-size: 12px;
                                font-family: 'Hind', sans-serif;
                                margin-bottom: 50px;
                            }
                                .tags{
                                    margin: 1rem 0.75rem 0.75rem 0;
                                    text-decoration: none;
                                    color: $white;
                                    text-transform: uppercase;
                                    font-family: 'Montserrat', sans-serif;
                                    font-size: 11px;
                                    font-weight: 700;
                                    padding:10px 20px;
                                    background-color: transparent;
                                    border:1px solid $font;
                                    border-radius:18px;

                                    &:hover{
                                    cursor: pointer;
                                    background-color: $font;
                                    } 
                                }
.author{
    box-sizing: border-box;
    display: block;
    padding: 50px;
    width: 750px;
    position: relative;
    border: 2px solid $font;
    background-color: transparent;
    margin: 3% 16% 3% 16%;   
}
    .author-img{
        position: absolute;
        width: 70px;
        border-radius: 50%;
        transform: translateX(-90px);
    }
        h4{
            font-size: 20px;
            color: $white;
            font-family: 'Montserrat', sans-serif;
            margin: 10px 0;
        }
            .author-username{
                color: $font;
                    font-size: 11px;
                    font-family: 'Hind', sans-serif;
                    text-align: justify;
                    margin: 0;
            }

}