
*{
    margin: 0;
    padding: 0;

    .single-blog{
        background-color: $darkest-black;
        &:after{
            content: "";
            display: table;
            clear: both;
        }
    }
      
    .header{
        background-image: url("/resources/images/gallery/slide-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px;
        box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.4);
        text-align: center;
        }
        & h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 60px;
            color: $white;
            margin-bottom: 30px;
        }
            & .icons{
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    color: $white;
                    opacity: 0.8;
                    
                    font-size: 12px;
                    text-transform: uppercase;
                }
                    & .txt{
                        color: $font;
                        opacity: 1;
                        font-family: 'Montserrat', sans-serif;

                    }

.left{   
    padding: 120px;
    background-color: $darkest-black;
    float: left;
    width: 55%;
    }
    .bg-img{
        position: relative;
        z-index: 1;
        margin: 8% 0 0 15%;
        width: 750px;
        height: 452px;
        transform: scale(1.1);
        transition: transform 0.4s;
    }

            .description{
                box-sizing: border-box;
                display: block;
                padding: 50px;
                width: 830px;
                position: relative;
                z-index: 1;
                background-color: $dark-black;
                margin: -3% 16% 3% 16%;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
                    & h3{
                        color: $white;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 32px;
                        margin-bottom: 25px;
                    }
            }
                p{
                    color: $font;
                    font-size: 16px;
                    font-family: 'Hind', sans-serif;
                    text-align: justify;
                    margin-bottom: 50px;
                }
                    
                        .fig-img{
                            width:100%;
                        }
                            figcaption{
                                text-align: center;
                                color: $font;
                                font-size: 12px;
                                font-family: 'Hind', sans-serif;
                                margin-bottom: 50px;
                            }
                                .tags{
                                    margin: 1rem 0.75rem 0.75rem 0;
                                    text-decoration: none;
                                    color: $white;
                                    text-transform: uppercase;
                                    font-family: 'Montserrat', sans-serif;
                                    font-size: 11px;
                                    font-weight: 700;
                                    padding:10px 20px;
                                    background-color: transparent;
                                    border:1px solid $font;
                                    border-radius:18px;

                                    &:hover{
                                    cursor: pointer;
                                    background-color: $font;
                                    } 
                                }
.author{
    box-sizing: border-box;
    display: block;
    padding: 50px;
    width: 850px;
    position: relative;
    border: 2px solid rgba(211, 211, 211, 0.105);
    background-color: transparent;
    margin: 3% 16% 3% 16%;   
}
    .author-img{
        position: absolute;
        width: 70px;
        border-radius: 50%;
        transform: translateX(-90px);
    }
        h4{
            font-size: 20px;
            color: $white;
            font-family: 'Montserrat', sans-serif;
            margin: 10px 0;
        }
            .author-username{
                color: $font;
                font-size: 11px;
                font-family: 'Hind', sans-serif;
                text-align: justify;
                margin-bottom: 20px;
        }
                .author-mail{
                    position: absolute;
                    width: 40px;
                    transform: translateX(620px)translateY(-80px);
                    border: 2px solid rgba(211, 211, 211, 0.105);
                    border-radius: 50%;
                    padding: 8px;
                    &:hover{
                        cursor: pointer;
                        background-color: rgba(211, 211, 211, 0.105);
                    }
                }
                .author-web{
                    position: absolute;
                    width: 40px;
                    transform: translateX(680px)translateY(-80px);
                    border: 2px solid rgba(211, 211, 211, 0.105);
                    border-radius: 50%;
                    padding: 8px;
                    &:hover{
                        cursor: pointer;
                        background-color: rgba(211, 211, 211, 0.105);
                    }
                }
                    .author-paragraph{
                        color: $font;
                        font-size: 16px;
                        font-family: 'Hind', sans-serif;
                        text-align: left;
                        margin: 0;
                        }
.comments{
    box-sizing: border-box;
    display: block;
    padding: 50px;
    width: 875px;
    position: relative;
    margin: 3% 16% 3% 11%;   
}
    h3{
        margin: 0;
    }
    hr{
        border: 2px solid #9b9b9b3d;
        width: 32px;
        margin: 10px 0 50px 0;
    }
        #com-1,#com-2, #com-4{
        position: absolute;
        transform: translateY(-5px);
        border-radius: 100%;
        }
                #com-3{
                    position: absolute;
                    border-radius: 50%;
                }
                #answer{
                    position: absolute;
                    border-radius: 50%;
                }
            .comment-in{
                margin-left:45px;
                padding-left: 15px;
                & h4{
                    color: $white;
                    margin-left: 90px;
                }
                & time{
                    color: $font;
                    margin-left: 90px;
                    font-size: 11px;
                    font-family: 'Hind', sans-serif;
                }
                & p{
                    margin: 40px 0 20px 0;
                }
                & .reply-btn{
                    margin-bottom: 50px;
                }
            }    
            .response{
                border-left: 3px solid $red;
                margin-left: 60px;
                margin-bottom: 60px;
                padding-left: 15px;
                & h4{
                    color: $white;
                    margin-left: 90px;
                }
                & time{
                    color: $font;
                    margin-left: 90px;
                    font-size: 11px;
                    font-family: 'Hind', sans-serif;
                }
                & p{
                    margin: 40px 0 20px 0;
                    
                }
                & .reply-btn{
                    margin-bottom: 0;
                }
            }    
            .comment h4{
                color: $white;
                margin-left: 90px;
            }
            .comment time{
                color: $font;
                margin-left: 90px;
                font-size: 11px;
                font-family: 'Hind', sans-serif;
            }

                .comment p{
                    margin: 40px 0 20px 0;
                    
                }
                    .reply-btn{
                        padding: 0;
                        margin-bottom: 50px;
                        border: none;
                        background-color: transparent;
                        color: $white;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 13px;
                        font-weight: 700;
                        letter-spacing: 0.16em;
                        &:hover{
                            cursor: pointer;
                            color: $red;
                        }
                    }
.comment-box{
        display: flex;
        flex-direction: column;
        gap: 2vh;
}
            #author, #email {
                width: 20vw;
                height: 5vh;
                background-color: transparent;
                border: none;
                border-bottom: $font solid 2px;
                color: $white;
            }

        #comment-box{
            width: 40vw;
            height: 20vh;
            background-color: transparent;
            border: none;
            border-bottom: $font solid 2px;
            color: $white;
        }
    }

    #comment-btn{
        margin: 3rem 0.75rem 0.75rem 0;
        color: $white;
        font-family: 'Montserrat', sans-serif;
        padding: 1rem 2.5rem;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.5;
        border-radius: 2rem;
        background-color: transparent;
        border:1px solid $font;
        border-radius:18px;

        &:hover{
        cursor: pointer;
        background-color: $font;
        } 
       
    }

//RIGHT SIDE
.right{
    padding: 120px;
    background-color: $darkest-black;
    float: right;
    width: 45%;
    }
.categories{
    margin-top: 5%;

    & li,a{
        text-decoration: none;
        list-style: none;
        color: $font;
        font-family: 'Hind', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        margin: 4% 0;
        &:hover{
            font-weight: 700;
            color: $red;
            list-style: disc;
        }

        
    }
}
.popular-posts{
     h3{
        margin-top: 8%;
    }
        .posts, a, time{
            
            color: $font;
            font-family: 'Hind', sans-serif;
            font-size: 12px;
            text-decoration: none;
            line-height: 60px;
            }
               & a{
                color: $white;
                font-family: 'Hind', sans-serif;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.25em;
                text-transform: uppercase;
                margin-bottom: 0;
                }
                .line{
                    margin: 0 3%;
                   transform: translateY(8px);
                }
                    #post-1{
                        &:hover{
                        background-image: url("/resources/images/gallery/room-3.jpg");
                        background-size: 70%;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        }
                    }
                    #post-2{
                        &:hover{
                        background-image: url("/resources/images/gallery/post-img-2.jpg");
                        background-repeat: no-repeat;
                        background-size: 70%;
                        cursor: pointer;
                        }
                    }
                    #post-3{
                        &:hover{
                        background-image: url("/resources/images/gallery/room-7.jpg");
                        background-repeat: no-repeat;
                        background-size: 70%;
                        cursor: pointer;
                        }
                    }
}
.all-tags{
    margin: 20px 0;
    
    & .tags{
    max-width: 100%;
    }
}

.photos {
    img{
        width: 110px;
        height: auto;
    }
    #pics{
        
        display: grid;
        grid-template-rows: 1fr 1fr;
    
    }

}

.archive{
    & li,a{
        text-decoration: none;
        list-style: none;
        color: $font;
        font-family: 'Hind', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        margin: 4% 0;
        &:hover{
            font-weight: 700;
            color: $red;
            list-style: disc;
        }
    }
}