*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 120px;
    font-weight: 600;
    color: white;
}


h2{
    font-size: 4.4rem;
    color: white;
}
h3{
    font-size: 32px;
    color: white;
}
p, .normalsizetext{
    font-size: 16px;
}
.smallertext{
    font-size: 12px;
}
:root{
    font-size: 10px;
}



.room_cure{
    header{
        background:linear-gradient(to top,$darkest-black, rgba(0, 0, 0, 0.2)), #{url('/resources/images/gallery/slide-3.jpg')};
        background-size: cover;
        height: 70vw;
        background-position: center;

        display: flex;
        align-items: flex-end;
        padding: 5vw;
    }
    main{
        background-color: $darkest-black;
        .room_cure_details{
            display: flex;
            justify-content: space-evenly;
            div.container{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:5vw;
                .room_cure_details_icons{
                    color: $font;
                    font-size: 16px;
                
                    .red{
                        color: $red;
                    }
                }
                .room_cure_details_text{
                    color: white;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
            div.room_cure_details_verticalLine{
                width: 1px;
                background-color: $font;
            }
        }
        .room_cure_textContact{
            padding: 5vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .room_cure_paragraph{
                color: $font;
                
                p{
                    font-family: $hind;
                }
            }
            .room_cure_address{
                div{
                    color: white;
                    padding: 10px 0;
                    border-bottom: 1px solid $font;
                    i{
                        font-size: 16px;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                        text-transform: uppercase;
                        padding: 10px 0 10px 10px;
                    }
                }
                button{
                    @include transparentButton($red);
                    background-color: $red;
                    color: white;
                    margin: 30px 0;
                }
            }
        }
        
    }
}


@media only screen and (max-width: 999px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 19px;
    }
    h3{
        font-size: 21px;
    }
    p, .normalsizetext{
        font-size: 14px;
    }
    .smallertext{
        font-size: 10px;
    }
}